#control{
    padding: 20px;
    border-radius: 12px;
    height: 90vh;
    overflow-y: auto;
    flex:1;
}

#control > fieldset > #scale-stats
{
    color: black;
    padding: 10px;
    gap: 20px;
}

#control > fieldset > #scale-stats > div > button
{
    font-weight: bold;
    width: 50px;
    
}

#control > fieldset > #pointed-dot-stats
{
    color: black;
    padding: 10px;
    margin-top: 10px;
}

#control > fieldset > #pointed-dot-stats > p
{
    border: 1px solid var(--mainc);
    padding: 5px;
    text-align: center;
}

#control > #ipt-formula
{
    padding: 10px;
}

#control > #ipt-formula > textarea
{
    width: 100%;
    padding: 2px;
}

#control > #ipt-formula > #formula-ipt
{
    border: 1px solid gray;
    min-height: 100px;
}